body {
  background-color: #eee;
}

body #container {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

body .card {
  overflow: hidden;
}

body .card img {
  transition: 250ms ease-in;
}

body .card:hover img {
  transform: scale(1.1);
}
