<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>
  <link href="../styles.css" rel="stylesheet">
  <title>My Webpage</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav w-75 justify-content-md-around">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/index.html">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="about.html">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">WORK</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">CONTACT</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row justify-content-md-center my-3">
      <div class="col-12 mb-2 col-md-6 col-lg-4">
        <div class="card">
          <img
            src="https://images.unsplash.com/photo-1584483766114-2cea6facdf57?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
            class="card-img-top" />
          <main class="card-body">
            <h2 class="card-title">CORONA CASES</h2>
            <p class="card-text">Corona cases by country, I've used <code>Reactjs</code>,<code>Reactstrap</code></p>
          </main>
          <footer class="card-footer"><a href="https://co-vid-19.netlify.app" target="_blank"
              class="btn btn-primary">VISIT HERE</a></footer>
        </div>
      </div>
      <div class="col-12 mb-2 col-md-6 col-lg-4">
        <div class="card">
          <img
            src="https://images.unsplash.com/photo-1500051638674-ff996a0ec29e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=792&q=80"
            class="card-img-top" />
          <main class="card-body">
            <h2 class="card-title">GALLERY APP</h2>
            <p class="card-text">A Simple Gallery App, I've used <code>Reactjs</code>,<code>Reactstrap</code></p>
          </main>
          <footer class="card-footer"><a href="https://medaminefh.github.io/photosearch" target="_blank"
              class="btn btn-primary">VISIT HERE</a></footer>
        </div>
      </div>
      <div class="col-12 mb-2 col-md-6 col-lg-4">
        <div class="card">
          <img
            src="https://images.unsplash.com/photo-1521296797187-726205347ca9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=692&q=80"
            class="card-img-top" />
          <main class="card-body">
            <h2 class="card-title">MEMES GEN</h2>
            <p class="card-text">A simple Memes Generator, I've used <code>Reactjs</code></p>
          </main>
          <footer class="card-footer"><a href="https://newmemes.netlify.app" target="_blank"
              class="btn btn-primary">VISIT HERE</a></footer>
        </div>
      </div>
      <div class="col-12 mb-2 col-md-6 col-lg-4">
        <div class="card">
          <img
            src="https://images.unsplash.com/37/tEREUy1vSfuSu8LzTop3_IMG_2538.jpg?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
            class="card-img-top" />
          <main class="card-body">
            <h2 class="card-title">A TIMER APP</h2>
            <p class="card-text">A Simple Timer with <code>HTML</code>,<code>CSS</code>,<code>JS</code> </p>
          </main>
          <footer class="card-footer"><a href="https://count-downclock.netlify.app" target="_blank"
              class="btn btn-primary">VISIT HERE</a></footer>
        </div>
      </div>
      <div class="col-12 mb-2 col-md-6 col-lg-4">
        <div class="card">
          <img
            src="https://images.unsplash.com/photo-1526304640581-d334cdbbf45e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
            class="card-img" />
          <main class="card-body">
            <h2 class="card-title">AMOUNT CALC</h2>
            <p class="card-text">Make your Balance Under control!</p>
          </main>
          <footer class="card-footer"><a href="https://am-ou-nt.netlify.app" target="_blank"
              class="btn btn-primary">VISIT HERE</a></footer>
        </div>
      </div>
      <div class="col-12 mb-2 col-md-6 col-lg-4">
        <div class="card">
          <img
            src="https://images.unsplash.com/photo-1602632003094-0494b73b7c4a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
            class="card-img" />
          <main class="card-body">
            <h2 class="card-title">TIC TAC TOE</h2>
            <p class="card-text">Play the Tic tac toe Game with your friends!
            </p>
          </main>
          <footer class="card-footer"><a href="https://quizzical-mahavira-82eee0.netlify.app" target="_blank"
              class="btn btn-primary">VISIT HERE</a></footer>
        </div>
      </div>
      <div class="col-12 mb-2 col-md-6 col-lg-4">
        <div class="card">
          <img
            src="https://images.unsplash.com/photo-1547561090-e2c1104d363f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=80"
            class="card-img" />
          <main class="card-body">
            <h2 class="card-title">QUOTE GEN</h2>
            <p class="card-text">Want to take some Good Vibes? check it out </p>
          </main>
          <footer class="card-footer"><a href="https://codepen.io/med-amine-fh/full/YzGRXqb" target="_blank"
              class="btn btn-primary">VISIT HERE</a></footer>
        </div>
      </div>
    </div>
  </div>
</body>

</html>